.checkout-container,
.payment-container,
.order-summary {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--p-size);
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 5px;
  margin: 3rem;
}

.checkout-content {
  display: flex;
  flex-wrap: wrap;
}

.payment-container h3 {
  padding: 0;
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding: 0.3rem;
  align-items: flex-start;
}

.form-label {
  flex: 1;
  margin-right: 10px;
}

.form-input {
  padding: 5px;
  width: 100%;
}

.red {
  color: red;
}

#first-row {
  border-top: 1px solid black;
  padding-top: 1rem;
}

.payment-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.checkout-content {
  display: flex;
  justify-content: center;
}

.order-summary {
  background-color: white;
  margin-bottom: 12rem;
}

.payment-container {
  margin-top: 3rem;
}

#code {
  padding-top: 1rem;
}

.price-info {
  margin-right: auto;
  padding-right: 10rem;
}

@media only screen and (max-width: 600px) {
  .order-summary {
    margin: 2rem;
  }

  .checkout-content {
    margin: 0;
  }
}
