.contact-container {
    display: flex;
    height: 500px;
    margin: 5rem;
}

.contact-left, .contact-right {
    width: 50%;
    border-radius: 5px;
}

.contact-right img {
    height: 500px;
}

.contact-left {
    background-color: white;
    padding-left: 1.5rem;
    font-size: var(--p-size);
    padding-top: 0;
}

.contact-left h1 {
    font-family: "Ephesis";
    font-size: 3rem;
    margin-top: 1rem;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    transform: translate(-50%, -150%);
}

.contact-details {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 15rem;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 5px #343434);
}

.contact-details p {
    font-size: var(--p-size);
}

.contact-title {
    font-size: var(--title1-size);
}
