.jacket-picture, .jacket-info {
    display: flex;
    flex-direction: column;
}

.jacket-picture {
    width: 50%;
    background-color: #EAF4F8;
    justify-content: center;
    align-items: center;
}

.jacket-info {
    width: 50%;
    background-color: white;
    padding: 4rem;
}

.product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#product-picture {
    max-width: 30rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}