/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */
@import url("./index.css");
@import url("./shop.css");
@import url("./product.css");

body {
  margin: 0;
  background-color: #EAF4F8;
}

.navbar {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  margin-right: 300px;
  max-width: 3rem;
  padding-top: 0.2rem;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

.nav-links li a:hover {
  color: #fb7837;
}
.navbar-right {
  display: flex;
  align-items: center;
}

.cart-count {
  background-color: var(--color-orange);
  color: #fff;
  padding: 3px 6px;
  border-radius: 50%;
}

/* Styles for footer */

footer {
  background-color: #000000;
  color: #fff;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  bottom: 0;
  width: 100%;
  flex-wrap: wrap;
}

.outer-footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer-logo {
  max-height: 14rem;
 padding-left: 100px;
}

.footer-left ul {
  list-style-type: none;
  padding: 0, 2rem, 0, 2rem;
}

.footer-left ul li {
  margin-bottom: 10px;
  padding-top: 1rem;
}

.footer-left ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-right {
  display: flex;
  flex-direction: column;
}



.social-icons a {
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

.social-icons a:hover {
  color: #ff5500;
}

form input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

form button {
  padding: 10px 20px;
  background-color: #ff5500;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #cc4400;
}

/* Button styles */

.shop-button {
  background-color: #fff;
  font-weight: 600;
  font-size: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: fit-content;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1.5px solid black;
}

.shop-button:hover {
  cursor: pointer;
  filter: drop-shadow(5px 5px 5px #b8bfc3);
}

